In [2]:
import pandas_datareader.data as web
import datetime as dt
start=dt.datetime(2018,11,28)
end=dt.datetime.today()
stock='^DJI'
df=web.DataReader(stock,"yahoo",start,end)
print(df.head())

                    High           Low          Open         Close     Volume  \
Date
2018-11-27  24750.730469  24416.029297  24557.019531  24748.730469  308250000
2018-11-28  25368.929688  24832.839844  24832.839844  25366.429688  362160000
2018-11-29  25479.039062  25202.789062  25343.650391  25338.839844  305110000
2018-11-30  25549.710938  25250.970703  25307.140625  25538.460938  482250000
2018-12-03  25980.210938  25670.509766  25779.570312  25826.429688  388480000

               Adj Close
Date
2018-11-27  24748.730469
2018-11-28  25366.429688
2018-11-29  25338.839844
2018-11-30  25538.460938
2018-12-03  25826.429688

In [7]:
df=df.rename(columns={'Adj Close':'close'})
df.head()

,High,Low,Open,Close,Volume,close
Date,,,,,,
2018-11-27,24750.730469,24416.029297,24557.019531,24748.730469,308250000,24748.730469
2018-11-28,25368.929688,24832.839844,24832.839844,25366.429688,362160000,25366.429688
2018-11-29,25479.039062,25202.789062,25343.650391,25338.839844,305110000,25338.839844
2018-11-30,25549.710938,25250.970703,25307.140625,25538.460938,482250000,25538.460938
2018-12-03,25980.210938,25670.509766,25779.570312,25826.429688,388480000,25826.429688

In [9]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'close'], dtype='object')

In [12]:
df=df.loc[:,['Open','close','Low','High','Volume']]
df.tail()

                    Open         close           Low          High     Volume
Date
2019-11-21  27820.279297  27766.289062  27708.339844  27828.330078  232020000
2019-11-22  27831.230469  27875.619141  27773.980469  27898.460938  214780000
2019-11-25  27917.769531  28066.470703  27917.769531  28068.689453  248420000
2019-11-26  28080.750000  28121.679688  28042.210938  28146.019531  324050000
2019-11-27  28156.470703  28164.000000  28075.230469  28174.970703  198210000

In [19]:
import pandas as pd
df.to_excel(r'C:\Users\Dell\Desktop\sanyoja\python\dat_source.xlsx')

In [28]:
df1=pd.read_excel(r'C:\Users\Dell\Desktop\sanyoja\python\dat_source.xlsx',index_col="Date")

In [29]:
df1.head()

                    Open         close           Low          High     Volume
Date
2018-11-27  24557.019531  24748.730469  24416.029297  24750.730469  308250000
2018-11-28  24832.839844  25366.429688  24832.839844  25368.929688  362160000
2018-11-29  25343.650391  25338.839844  25202.789062  25479.039062  305110000
2018-11-30  25307.140625  25538.460938  25250.970703  25549.710938  482250000
2018-12-03  25779.570312  25826.429688  25670.509766  25980.210938  388480000

In [35]:
print(df.loc['2018-11-30','Volume'])

482250000.0

In [37]:
df['day_change']=(df['close'].pct_change())*100

In [38]:
df.tail()

,Open,close,Low,High,Volume,day_change
Date,,,,,,
2019-11-21,27820.279297,27766.289062,27708.339844,27828.330078,232020000,-0.196976
2019-11-22,27831.230469,27875.619141,27773.980469,27898.460938,214780000,0.393751
2019-11-25,27917.769531,28066.470703,27917.769531,28068.689453,248420000,0.684654
2019-11-26,28080.750000,28121.679688,28042.210938,28146.019531,324050000,0.196708
2019-11-27,28156.470703,28164.000000,28075.230469,28174.970703,198210000,0.150490

In [1]:
df2=df.drop['Date']

NameError: name 'df' is not defined